@{
    ViewBag.Title = "Windows Azure Media Services";
    ViewBag.Message = "Video library sample which explores the features of WAMS";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about Windows Azure Media Services visit
                <a href="https://www.windowsazure.com/en-us/home/features/media-services/" title="Azure Media Services">https://www.windowsazure.com/en-us/home/features/media-services/</a>.<br />
                A list of available Azure Encoder Task presets can be found <a href="http://msdn.microsoft.com/en-us/library/windowsazure/jj129582.aspx">here</a>.
            </p>
        </div>
    </section>
    }
            <h2>Build workflows for the creation, management, and distribution of media with windows azure Media Services</h2>
            <p>Media Services offer the flexibility, scalability and reliability of a cloud platform to handle high quality media experiences for a global audience. Media Services includes cloud-based versions of many existing technologies from the Microsoft Media Platform and our media partners, including ingest, encoding, format conversion, content protection and both on-demand and live streaming capabilities. Whether enhancing existing solutions or creating new workflows, you can easily combine and manage Media Services to create custom workflows that fit every need.</p>
<h2>Task Presets for Jobs</h2>
<p>Most up-to-date list can be found <a href="http://msdn.microsoft.com/en-us/library/windowsazure/jj129582.aspx">here</a></p>
    
<pre>
Thumbnails
WMA High Quality Audio
AAC Good Quality Audio
VC1 Broadband 1080p
VC1 Broadband 720p
VC1 Broadband SD 16x9
VC1 Broadband SD 4x3
VC1 Smooth Streaming 1080p
VC1 Smooth Streaming 720p
VC1 Smooth Streaming SD 16x9
VC1 Smooth Streaming SD 4x3
VC1 Smooth Streaming 1080p Xbox Live ADK
VC1 Smooth Streaming 720p Xbox Live ADK
H264 Broadband 1080p
H264 Broadband 720p
H264 Broadband SD 16x9
H264 Broadband SD 4x3
H264 Smooth Streaming 1080p
H264 Smooth Streaming 720p
H264 Smooth Streaming 720p for 3G or 4G
H264 Smooth Streaming SD 16x9
H264 Smooth Streaming SD 4x3
H264 Adaptive Bitrate MP4 Set 1080p
H264 Adaptive Bitrate MP4 Set 720p
H264 Adaptive Bitrate MP4 Set SD 16x9
H264 Adaptive Bitrate MP4 Set SD 4x3
H264 Adaptive Bitrate MP4 Set 1080p for iOS Cellular Only
H264 Adaptive Bitrate MP4 Set 720p for iOS Cellular Only
H264 Adaptive Bitrate MP4 Set SD 16x9 for iOS Cellular Only
H264 Adaptive Bitrate MP4 Set SD 4x3 for iOS Cellular Only
H264 Smooth Streaming 720p Xbox Live ADK
H264 Smooth Streaming Windows Phone 7 Series
</pre>
    