@{
    ViewBag.Title = "Windows Azure Media Services";
    ViewBag.Message = "Video library sample which explores the features of WAMS";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about Windows Azure Media Services visit
                <a href="https://www.windowsazure.com/en-us/home/features/media-services/" title="Azure Media Services">https://www.windowsazure.com/en-us/home/features/media-services/</a>.<br />
                A list of available Azure Encoder Task presets can be found <a href="http://msdn.microsoft.com/en-us/library/windowsazure/jj129582.aspx">here</a>.
            </p>
        </div>
    </section>
}


            <h2>Build workflows for the creation, management, and distribution of media with windows azure Media Services</h2>
            <p>Media Services offer the flexibility, scalability and reliability of a cloud platform to handle high quality media experiences for a global audience. Media Services includes cloud-based versions of many existing technologies from the Microsoft Media Platform and our media partners, including ingest, encoding, format conversion, content protection and both on-demand and live streaming capabilities. Whether enhancing existing solutions or creating new workflows, you can easily combine and manage Media Services to create custom workflows that fit every need.</p>
